@charset "UTF-8";

/* popup */
.popup {
    position: fixed; top: 0; left: 0; z-index: 10000; 
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.popup_wrap {
    position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    width: 400px; height: 470px; margin: auto;
    background-color: #fff; 
}
.popup .p_top { 
    position: relative;
    width: 100%; height: 420px; padding: 30px;
    border: 4px solid #82cff5;
}
.popup .p_top img { 
    position: absolute; top: 275px; right: 30px;
}
.popup .p_bottom { 
    display: flex; 
    width: 400px; height: 50px; 
}
.popup .p_bottom > a { 
    display: block; width: 200px; height: 100%; text-align: center; 
    line-height: 50px; font-size: 18px; background-color: #82cff5;
}
.popup .p_bottom > a:first-child { background-color: #999; }
.popup h4 { 
    margin-bottom: 20px; text-align: justify;
    font-size: 24px; font-family: 'Hahmlet-Regular'; font-weight: 700; 
    text-transform: uppercase; color: #82cff5;
}
.popup span { color: #f39031; }
.popup p { font-size: 14px; margin-bottom: 50px; }


/* title */
h2 { 
    position: relative; top: 100px; opacity: 0;
    width: 1280px; height: 80px; 
    font-family: 'Hahmlet-Regular'; font-size: 36px; font-weight: 700;
    transition: 0.4s ease-in;
}
h2.active { top: 0; opacity: 1; }
h3 { font-size: 24px; font-weight: bold; }


/* main */
main {
    width: 100%; min-width: 1280px; height: 800px; padding-top: 110px; margin-bottom: 100px; 
}
main .swiper { width: 100%; height: 100%; }
main .swiper-wrapper { height: 100%; }
main .swiper-slide {
    width: 1280px; height: 800px; 
    opacity: 0.5;
}
main .swiper-button-next { top: 50%; right: calc(50% - 600px); }
main .swiper-button-prev { top: 50%; left: calc(50% - 600px); }
main .swiper-button-next:after, main .swiper-button-prev:after {
    font-size: 80px; color: #fff; opacity: 0.5;
    transition: 0.3s;
}
main .swiper-button-next:hover:after, .swiper-button-prev:hover:after {
    opacity: 1; 
}
main .swiper-pagination-bullet { 
    opacity: 1; width: 15px; height: 15px; background-color: transparent; border: 1px solid #fff; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
main .swiper-pagination-bullet:hover { background-color: #fff; border: none; }
main .swiper-pagination-bullet-active { background-color: #82cff5; border: none; }

/* main active */
main .swiper-slide-active { opacity: 1; }



/* menu */
.menu { 
    position: relative;
    width: 1280px; height: 460px; margin: 0 auto 100px; 
}
.menu h2 { 
    margin: 20px; text-align: center; 
}
.menu .swiper {  
    width: 100%; height: 360px; 
}
.menu .swiper-slide { position: relative; }
.menu .swiper-slide > figure > a { 
    display: block;
    width: 280px; height: 280px; border-radius: 50%; margin-bottom: 20px;
    border: 1px solid #f39031; overflow: hidden; transition: 0.3s ease-in-out;
}
.menu .swiper-slide > figure > a:hover {
    border: 7px dotted #f39031; 
}
.menu .swiper-slide img {
    width: 100%; height: 100%; 
    object-fit: cover; border-radius: 50%; transition: 0.3s ease-in; 
}
.menu .swiper-slide a:hover img {
    transform: scale(1.2); 
    opacity: 0.5;
}
.menu .swiper-slide figcaption { text-align: center; }
.menu .swiper-button-next:after, .menu .swiper-button-prev:after { display: none; }
.menu .swiper-button-next {
    right: 0; top: 35px;
    width: 17px; height: 31px;
    background-image: url(../images/main/next.png);
}
.menu .swiper-button-prev {
    left: auto; right: 40px; top: 35px;
    width: 17px; height: 31px;
    background-image: url(../images/main/prev.png);
}

.menu .swiper-slide .more_btn { 
    position: absolute; top: -70px; bottom: 0; left: 0; right: 0; margin: auto;
    display: none; width: 100px; height: 50px; border-radius: 40px; line-height: 50px; transition: 0.5s ease-in-out;
    background-color: #333; color: #fff; text-align: center;
}
.menu .swiper-slide a:hover .more_btn {
    display: block; 
}




/* promotion */
.promotion { width: 100%; min-width: 1280px; height: 400px; margin-bottom: 100px; }
.promotion ul { display: flex; width: 100%; min-width: 1280px; height: 400px; }
.promotion li { 
    flex: 1; height: 400px; 
    text-align: center; 
}
.promotion a { 
    display: flex; flex-direction: column; justify-content: center; align-items: center;  width: 100%; height: 100%; 
    background-repeat: no-repeat; background-size: cover; background-position: center; 
    transition: 0.3s ease-in;
}
.event a { background-image: url(../images/main/event_out.png); }
.store a { background-image: url(../images/main/store_out.png); }
.reserve a { background-image: url(../images/main/reserve_out.png); }
.event a:hover { background-image: url(../images/main/event_over.png); } 
.store a:hover { background-image: url(../images/main/store_over.png); }
.reserve a:hover { background-image: url(../images/main/reserve_over.png); }
.promotion span { color: #fff; font-family: 'Hahmlet-Regular'; } 
.promotion span:first-child { margin-bottom: 20px; font-weight: bold; font-size: 28px; }
.promotion span:last-child { font-weight: normal; }



/* board */
.board {
    width: 1280px; height: 480px; margin: 0 auto 100px;
}
.board_wrap { 
    display: flex; justify-content: space-between; width: 100%; height: 80px; 
}
.board_wrap h2 { 
    position: relative; top: -10px;
    width: 510px; height: 100%; 
}
.board_wrap h2::after { 
    content: '';
    position: absolute; top: 27px; left: 480px; width: 600px; 
    border-bottom: 3px solid #666;
}
.sns_icon ul { display: flex; }
.sns_icon li { margin-left: 20px; }
.notice, .event_result { 
    position: relative; width: 290px; height: 400px; padding: 50px 30px 30px; 
    border: 1px solid #82cff5;
}
.board_box h3 { 
    width: 230px; height: 40px; border-bottom: 2px solid #82cff5;
}
.board_box p { margin: 58px 0 30px; font-size: 18px; }
.board_box .bold_wrap { font-weight: bold; }
.board_box { display: flex; justify-content: space-between; }

.viewbtn {
    display: block; width: 106px; height: 38px; line-height: 34px;
    border: 1px solid #82cff5; border-radius: 30px; color: #82cff5; text-align: center; font-size: 14px; font-weight: 500; background-color: #fff; transition: 0.2s ease-in;
}
.viewbtn:hover { background-color: #82cff5; color: #fff; }
.arrow { 
    position: absolute; right: 30px; bottom: 30px;
    display: block; width: 70px; height: 30px; 
    background-image: url(../images/main/board_arrow.png); background-repeat: no-repeat;  background-position: right bottom; font-size: 14px; 
}
.arrow:hover { right: 40px; transition: 0.3s ease-in; }



/* affiliation */
.affiliation {
    width: 100%; min-width: 1280px; height: 520px; margin-bottom: 100px;
    background-color: #e6f5fd; 
}
.affiliation .inner_wrap { 
    display: flex; 
    padding: 60px 0;
}
.affiliation .inner_wrap a {
    margin-right: 40px;
}
.aff_text {
    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}
.aff_text .aff_title { 
    height: 48px; margin-bottom: 40px; 
    font-size: 48px; font-weight: bold; 
}
.aff_text p {
    height: 50px; margin-bottom: 40px; 
    font-size: 18px; line-height: 30px; 
}



/* cream_video */
.cream_video {
    width: 1280px; height: 720px; 
    margin: 0 auto 100px;
}
iframe{ border: none; }